<table sbb-table [dataSource]="data$" sbbSort (sbbSortChange)="onSortChange($event)">

  <ng-container sbbColumnDef="versionlabel">
    <th sbb-header-cell *sbbHeaderCellDef sbb-sort-header>
        <div class="col">
            <span>Label</span>
            <input type="text" sbbInput [formControl]="nameFilter"/>  
          </div>
    </th>
    <td sbb-cell *sbbCellDef="let instruction">{{instruction.label}}</td>
  </ng-container>

  <ng-container sbbColumnDef="operatingPoint">
    <th sbb-header-cell *sbbHeaderCellDef sbb-sort-header>
      <div class="col">
        <span>Operating Point</span> 
        <input type="text" sbbInput [formControl]="operatingPointFilter"/>  
      </div>
    </th>
    <td sbb-cell *sbbCellDef="let instruction">{{instruction.operatingPoint}}</td>
  </ng-container>

  <ng-container sbbColumnDef="type">
    <th sbb-header-cell *sbbHeaderCellDef>Type</th>
    <td sbb-cell *sbbCellDef="let instruction">{{instruction.type}}</td>
  </ng-container>

  <tr sbb-header-row *sbbHeaderRowDef="['versionlabel', 'operatingPoint', 'type']"></tr>
  <tr sbb-row *sbbRowDef="let instruction; columns: ['versionlabel', 'operatingPoint', 'type']"></tr>

  <ng-container sbbColumnDef="instructionLabel">
    <th sbb-header-cell *sbbHeaderCellDef>Label</th>
    <td sbb-cell *sbbCellDef="let instruction" colspan="3"><strong>{{instruction.label}}</strong></td>
  </ng-container>

  <tr sbb-row *sbbRowDef="let instruction; columns: ['instructionLabel']; when: isInstruction"></tr>
</table>